config bridge 'main'
	# WEMO_BRIDGE_GENERATE_ONBOARDING=ON/OFF equivalent
	option generate_onboarding '1'
	# WEMO_BRIDGE_DEV_FIXED_ONBOARDING=ON/OFF equivalent; unsafe outside tests
	option dev_fixed_onboarding '0'
	# Restart the bridge stack after repeated health failures.
	option watchdog_enabled '1'
	option watchdog_interval '60'
	option watchdog_initial_grace '180'
	option watchdog_failures '3'
	option watchdog_min_active_devices '1'
	# Set to 0 to disable UDP receive-queue stall detection.
	option watchdog_udp_recvq_threshold '98304'
